name: Build CI

on:
  push:
  pull_request:
    paths:
    - 'code/**'
    - 'tests/**'
    - '.github/workflows/**'
    - 'build*.sh'
    - 'requirements*.txt'
  release:
    types: [published]
  check_suite:
    types: [rerequested]

jobs:
  micropython:
    strategy:
        matrix:
            os:
                - ubuntu-latest
                - macOS-latest
            dims: [1, 2, 3, 4]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"
    - name: Set up Python 3.10
      uses: actions/setup-python@v1
      with:
        python-version: "3.10"

    - name: Install requirements
      run: |
        if type -path apt-get; then
            sudo apt-get install gcc-multilib
        fi

    - name: Versions
      run: |
        gcc --version
        python3 --version
    - name: Checkout ulab
      uses: actions/checkout@v1

    - name: Checkout micropython repo
      uses: actions/checkout@v2
      with:
        repository: micropython/micropython
        path: micropython

    - name: Run build.sh
      run: ./build.sh ${{ matrix.dims }}

  circuitpython:
    strategy:
        matrix:
            os:
                - ubuntu-20.04
                - macOS-latest
            dims: [1, 2, 3, 4]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"
    - name: Set up Python 3.10
      uses: actions/setup-python@v1
      with:
        python-version: "3.10"

    - name: Versions
      run: |
        gcc --version
        python3 --version

    - name: Checkout ulab
      uses: actions/checkout@v1

    - name: Install requirements
      run: |
        if type -path apt-get; then
            sudo apt-get install gettext librsvg2-bin
        else
            brew install gettext librsvg
            echo >>$GITHUB_PATH /usr/local/opt/gettext/bin
            echo >>$GITHUB_PATH /usr/local/opt/librsvg/bin
        fi
        python3 -mpip install --upgrade -r requirements_cp_dev.txt

    - name: Run build-cp.sh
      run: ./build-cp.sh ${{ matrix.dims }}
